<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="topnav" *ngIf="nombre">
  <a [routerLink]="['/MyProfile', nombre]">{{ nombre }}</a> 
  <a [routerLink]="['/MyProfile', nombre, 'Edit']">Editar</a> 
  <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>

<div class="row">
  <div class="column lists" style="background-color:#aaa;">   
    <h2>Column 1</h2>
    <p>Some text..</p>
  </div>
  <div class="column centro" style="background-color:#bbb;">
    <ul>
    <img alt="ángel, Arte, blanco y negro" class="js-photo-page-image-img" data-zoom-src="https://images.pexels.com/photos/208001/pexels-photo-208001.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=3&amp;h=750&amp;w=1260" src="https://images.pexels.com/photos/208001/pexels-photo-208001.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=200&amp;w=200" style="height=100px width=100px">
      <h2>{{ nombre }}</h2>
    </ul>
    <ul class=Opciones>
      <li><a class='active' [routerLink]="['/MyProfile', nombre, 'Info']">Info</a></li>
      <li><a [routerLink]="['/MyProfile', nombre, 'MySongs' ]">Mis canciones</a></li>
      <li><a [routerLink]="['/MyProfile', nombre, 'MyPodCasts' ]">Mis podcasts</a></li>
    </ul>
    <p>HOLA ESTOY EN CUARENTENA Y ME VOY A VOLVER LOCO JAJAJAKJSVNA KNDKFDÑLK</p>
</div>
  <div class="column comments"style="background-color:#ccc;">
    <h2>Column 3</h2>
    <p>Some text..</p>
  </div>
</div> 