<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<div class="topnav" *ngIf="minombre">
  <a [routerLink]="['/MyProfile', minombre]">{{ minombre }}</a> 
  <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>

<div class="row">
  <div class="column lists" style="background-color:#aaa;">   
    <h2>Column 1</h2>
    <p>Some text..</p>
  </div>
  <div class="column center"style="background-color:#bbb;">
    <h2>Column 2</h2>
    <p>Some text..</p>
    <ul><li *ngFor="let item of users; index as id">
      <a [routerLink]="['/Profile', item.name,'Info'] "><app-profile [nombre]="item.name"></app-profile></a> 
    </li></ul>
  </div>
  <div class="column comments"style="background-color:#ccc;">
    <h2>Column 3</h2>
    <p>Some text..</p>
    <ul><li *ngFor="let item of coms.comments"> {{ item}} </li></ul>
  </div>
</div> 


<div class="row">
  <div class="column current-song">
    <img srcset="https://cdn.pixabay.com/photo/2016/03/23/17/27/music-note-1275180_960_720.png 1x, https://cdn.pixabay.com/photo/2016/03/23/17/27/music-note-1275180_1280.png 1.778x" src="https://cdn.pixabay.com/photo/2016/03/23/17/27/music-note-1275180_960_720.png" alt="Nota Musical, Corchea, Png, Melodía, Composición, Negro" height="200px" width="100px"> 
    <p>Lo Mal Que Estoy Y Lo Poco Que Me Quejo   </p>
    <p>El Kanka</p>
  </div>
  <div class="column player">
    <button class='button play' type="button" ></button>
    <button class='button pause' type="button" ></button>
    
  </div>
  <div class="column add-comment">
    <input #newCom type="text" (keyup.enter)="CommentSong(newCom.value)"  >
    <button (click)="CommentSong(newCom.value)" height="20px">Click me</button>
  </div>
</div> 


