<!doctype html>
<html>
  <title>Inicio</title>
  <head>
  </head> 
  <body>

    <form name="inicioSesion" action="InsertUserServlet" method="post">
          
      <div class="container">
          
        <br>
          <label for="uname"><b>Usuario</b></label>
          <input type="text" placeholder="Introduzca su nombre de usuario" name="uname">
          
        <br><br>
          <label for="psw"><b>Contraseña</b></label>
          <input type="password" placeholder="Introduzca su contraseña" name="psw" >

        <br><br>
          <label for="psw"><b>Repetir contraseña</b></label>
          <input type="password" placeholder="Repita su contraseña" name="repsw">

        <br><br>
          <label for="psw"><b>Email</b></label>
          <input type="text" placeholder="Introduzca su email" name="email">
          
        <br><br>
          <button type="submit"><a routerLink='/Login'>CREAR USUARIO</a> </button>
        <br><br>
          <button type="reset" class="cancelbtn">LIMPIAR CAMPOS</button>

      </div>
    </form> 
    
  </body>
  
</html>
