<!doctype html>
<html>
  <title>Inicio</title>
  <head>
  </head> 
  <body>

    <form name="inicioSesion" action="hacer_registro" method="post">
          
      <div class="container">
          
        <br>
          <label for="uname"><b>Usuario</b></label>
          <input #nombre type="text" placeholder="Introduzca su nombre de usuario" name="nombre">
          
        <br><br>
          <label for="psw"><b>Contraseña</b></label>
          <input #contrasena type="password" placeholder="Introduzca su contraseña" name="contraseña" >

        <br><br>
          <label for="psw"><b>Repetir contraseña</b></label>
          <input type="password" placeholder="Repita su contraseña" name="password">

        <br><br>
          <label for="psw"><b>Email</b></label>
          <input #email type="text" placeholder="Introduzca su email" name="email">
          
        <br><br>
          <button type="submit" (click)="registerSuccesful(nombre.value,contrasena.value,email.value)"><a routerLink='/Login'>CREAR USUARIO</a> </button>
        <br><br>
          <button type="reset" class="cancelbtn">LIMPIAR CAMPOS</button>

      </div>
    </form> 
    
  </body>
  
</html>
